@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body, html {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Droid Serif', serif;
}

#App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 120px;
}

#log {
  display: flex;
  justify-content: center;
  line-height: 1.5;
  height: 100%;
  font-size: 24px;
}

#emptyLog {
  color: #ccc;
}

#shortcuts {
  font-size: 16px;
  align-items: center;
  line-height: 1.5;
  justify-content: space-around;
  margin-bottom: 16px;
}
