@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Droid Serif', serif;
}

#App {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 120px;
}

#log {
  display: flex;
  justify-content: center;
  height: 100%;
  line-height: 1.5;
  font-size: 24px;
  border-top: 1px solid black;
}

#emptyLog {
  color: #ccc;
}

#log .logEntry {
  width: 506px;
  display: flex;
}

#log .logEntryDate {
  margin-right: 8px;
}

#log .logEntryDate::after {
  content: ":";
}

#log .logEntryText .view:blank {
  content: "<double-click to edit>";
}

#log .logEntryText.editing .view {
  display: none;
}

#log .logEntryText.editing .edit {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 1.45em;
  width: 100%;
  display: block;
  box-sizing: border-box;
  border: 0;
  outline: none;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}

#log .logEntryText .edit {
  display: none;
}

#shortcuts {
  font-size: 16px;
  line-height: 1.5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 64px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  margin: 0;
}
